ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: white;
	overflow: hidden;
	background-color: #3f4a5d;
}

li {
	display: inline-block;
	float: left;
	padding: 5px;
}

li:hover {
	background-color: #444444;
}

body {
	background-color:black;
}

div p {
	color: white;
}

.ClickingStuff {
	border: 5px solid white;
	padding-top: 5px;
	padding-left: 5px;
}

.Top {
	Color: Black;
	background-color: white;
	background-image: url("http://i.imgur.com/GeENAXj.png");
	height: 200px;
	width: 100%;
	margin-bottom:10px;
}

/*making a button should have a base with a color and a box shadow beneath it, the translateY
//should be the base box shadow - active boxshadow to look like its going in. */ 
#click {
	background-image: url("http://i.imgur.com/PzRqxIH.png");
}
#buy {
	background: url("http://i.imgur.com/N0BXgMs.png");
}
#sell {
	background: url("http://i.imgur.com/2PDUFo5.png");
}
#incPower{
	color: white;
}
#incClickerPower{
	color: white;
}

.buttons {
	display: inline-block;
	width: 150px;
	height: 25px;
	outline: none;
	box-shadow: 0px 9px #888888;
	border-radius: 10px;
	border:none;
}

.buttons:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
	/*
	background-color: #5d2f54;
	transform: translateY(10px);
	box-shadow: 0px 10px #800000;*/
}
