body {
	background-color:black;
}

div p {
	color: white;
}

.ClickingStuff {
	border: 5px solid white;
	padding-top: 5px;
	padding-left: 5px;
}

.Top {
	Color: Black;
	background-color: white;
	background: url(http://imgur.com/GeENAXj) no-repeat;
	height: 200px;
	width: 100%;
	margin-bottom:10px;
}

/*making a button should have a base with a color and a box shadow beneath it, the translateY
//should be the base box shadow - active boxshadow to look like its going in. */ 
#click {
	background: url(http://imgur.com/PzRqxIH) no-repeat center;
}
#buy {
	background: url(http://imgur.com/N0BXgMs) no-repeat;
}
#sell {
	background: url(http://imgur.com/2PDUFo5) no-repeat;
}

.buttons {
	display: inline-block;
	width: 150px;
	height: 25px;
	outline: none;
	box-shadow: 0px 9px #888888;
	border-radius: 10px;
	border:none;
}

.buttons:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
	/*
	background-color: #5d2f54;
	transform: translateY(10px);
	box-shadow: 0px 10px #800000;*/
}
